.header > div {
  display: flex;
  padding: 10px;
  background: #2c3e50;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header .menu-icon {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.header .menu-icon h3 {
  margin-left: 10px;
}

.header .profile-header {
  display: flex;
  align-items: center;
}

.header .user-name {
  margin-left: 10px;
  line-height: 1.2;
  font-size: 14px;
}

.header .profile-picture {
  cursor: pointer;
}

.icon-menu-profile {
  margin-left: 10px;
  cursor: pointer;
}

.modal-overlay > div {
  min-width: 350px;
  min-height: 350px;
}
.modal-overlay > div .profile-picture {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 67px;
  background: fff;
  max-width: 170px;
  width: 100%;
  right: 0px;
  padding: 12px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 10px 10px 28px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -8px rgba(0, 0, 0, 0.75);
}

.dropdown > div {
  position: relative;
}

.dropdown ul {
  margin: 0px;
}

.dropdown ul li {
  cursor: pointer;
  list-style: none;
  color: #333;
}

.dropDown ul li * {
  color: #333;
  text-decoration: none;
}

.dropdown > div:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  content: "";
  position: absolute;
  top: -22px;
  right: -2px;
}
